{% extends 'layout.html' %}
{% set page_title = 'Home: '%}

{% block content %}
    <br>
    <h3>Logfile:</h3>
    <br>
    {% for line in log %}
        <p class="log-line">[ {{line[0]}} ] {{line[1]}}</p>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        console.log('--- js file loaded ---');

        var content =  $.ajax({
            url: "https://alexicoo.nl/img/stock-graph.jpeg",
            contentType: "application/json",
            dataType: 'json',
            success: function(result){
                console.log(result);
            }



        })
    })
    </script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}